# Include important files
include /README.md
include /license.txt
include /requirements.txt

# Include demo image
include /demo.tif


# Include UI files
include gui/*.ui
include gui/definitions/*.ui
include gui/*.png
include gui/settings/*.ui
include gui/settings/settings.json
include gui/settings/settings.ini
include fcn/model/focus_detector.h5
include fcn/model/nucleus_detector.h5