tensorflow-cpu>=2.17.0
scikit-image>=0.16.2
matplotlib>=3.1.3
seaborn>=0.13.2
statannotations>=0.7.2
pyqt5>=5.14.1
numba>=0.48.0
pillow>=11.13.0
qtawesome==1.3.1
piexif>=1.1.3
pyqtgraph>=0.14.0
pandas>=2.1.4
imagecodecs>=2026.1.1
openpyxl>=3.1.5
PyWavelets>=1.9.0