QMessageBox {
    background-color: rgb(0, 51, 102);
}

QMessageBox QLabel{
    color: white;
}

QMessageBox QPushbutton{
    color: White;
	background-color: rgba(22, 42, 75 , 255);
	border: none;
	font-size: 14px;
 	text-align: center;
	min-height: 25px;
	min-width: 40px;
}

QMesasgeBox QPushButton:hover{
	background-color:  rgba(15, 35, 68 , 255);
}

QMessagebox QPushButton:pressed{
	background-color:  rgba(8, 28, 61 , 255);
}

QMessageBox QPushButton:disabled{
	background-color:  rgba(40, 60, 100 , 255);
}
